@model CCSB_Groepje5.Models.ViewModels.RegisterVehicleViewModel

<div class="row">
        <div class="col-md-9 offset-md-1 py-10">
<h1>Voertuig aanpassen</h1>
<h3>Gekozen voertuig</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditVehicle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleType" class="control-label"></label>
                <input asp-for="VehicleType" class="form-control" />
                <span asp-validation-for="VehicleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurfaceTaken" class="control-label"></label>
                <input asp-for="SurfaceTaken" class="form-control" />
                <span asp-validation-for="SurfaceTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</div>
</div>