@model CCSB_Groepje5.Models.ViewModels.RegisterVehicleViewModel

<h2>Voertuig registreren</h2>
<form method="post" asp-action="Index" asp-controller="Home">

    <hr />

    @*Error*@
    <div asp-validation-summary="All" class="text-danger"></div>

    @*kentekenplaat*@
    <div class="form-group row">
        <label class="col-md-2" asp-for="LicensePlate"></label>
        <div class="col-md-10">
            <input asp-for="LicensePlate" class="form-control" />
            <span asp-validation-for="LicensePlate" class="text-danger"></span>
        </div>
    </div>

    @*Klant*@
    <div class="form-group">
        <label for="CustomerId">Selecteer Klant</label>
        <select id="CustomerId"
                asp-items="@(new SelectList(ViewBag.CustomerList, "Id", "Name"))"
                class="form-control"></select>
    </div>

    @*Soort voertuig*@
    <div class="form-group row">
        <label class="col-md-2" asp-for="VehicleType"></label>
        <div class="col-md-10">
            <input asp-for="VehicleType" class="form-control" />
            <span asp-validation-for="VehicleType" class="text-danger"></span>
        </div>
    </div>

    @*Submit*@
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Registreer dit voertuig" class="btn btn-success" />
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}