@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--<h2>Registreren</h2>
<form method="post" asp-action="Register" asp-controller="RegisterVehicle">
    <h4>Voertuig registreren</h4>
    <hr />-->

    @*kentekenplaat*@
    <!--<div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="LicensePlate"></label>
        <div class="col-md-10">
            <input asp-for="LicensePlate" class="form-control" />
            <span asp-validation-for="LicensePlate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Registreer dit voertuig" class="btn btn-success" />
        </div>
    </div>
</form>-->