<div class="modal fade" role="dialog" id="appointmentInput" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>Hallo allemaal</div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/script-custom-calendar.js"></script>
}