<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CCSB_Groepje5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.513/styles/kendo.default-v2.min.css" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 header-grid">
            <div class="header-grid-1">
                
            </div>
            <h2 class="header-grid-2" id="bentelo-titel">Bentelo</h2>
            <div class="container header-grid-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer bg-footer footer-grid">
        <div class="footer-grid-1">
            <h3>Locatie</h3>
            <h5>Beethovenlaan 144</h5>
            <h5>7442HG Nijverdal</h5>
            <h5>tel: 06 12345678</h5>
        </div>
        <div class="footer-grid-2">
            <a href="https://goo.gl/maps/TdjwtKNdxi63jhf29">
                <img src="~/images/map_overijsel.png" id="kaart" />
            </a>
        </div>
        <div class="footer-grid-3">
            <h3>Openingstijden</h3>
            <h6>ma: 9:00-17:00 vr: 9:00-17:00</h6>
            <h6>di: 9:00-17:00 za: 9:00-17:00</h6>
            <h6>wo: 9:00-17:00 zo: 9:00-17:00</h6>
            <h6>do: 9:00-17:00 </h6>
        </div>
        <div class="footer-grid-4">
            <img src="~/images/logo_ccsb.png" id="logo" />
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales/nl.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.513/js/kendo.all.min.js"></script>
    <script type="text/javascript" src="~/js/notify.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
