@inject Microsoft.AspNetCore.Identity.SignInManager<CCSB_Groepje5.Models.ApplicationUser> signinManager

@if (signinManager.IsSignedIn(User))
{
    if (User.IsInRole("Beheerder"))
    {
<ul class="nav navbar-nav">
    <li>
        <a id="registerLink" class="nav-link text-white" asp-action="Register" asp-controller="Account">Registreren</a>
    </li>
    <li>
        <a id="registerVehicleLink" class="nav-link text-white" asp-action="RegisterVehicleIndex" asp-controller="RegisterVehicle">Voertuigen</a>
    </li>
</ul>
    }
    <form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li class="text-white nav-link">Welkom @User.Identity.Name</li>
            <li class="text-white">
                <a class="text-white nav-link" href="javascript:document.getElementById('logoutForm').submit()">Uitloggen</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav">

        <li>
            @*Html.ActionLink("Login", "Login", "Account", routeValues: null,
                htmlAttributes: new { id = "loginLink" })*@
            <a id="loginLink" class="nav-link text-white" asp-action="Login" asp-controller="Account">Inloggen</a>

        </li>
    </ul>
}