@{ ViewData["Title"] = "Home Page"; }

<div class="container text-center my-4">
    <h1 class="pb-4">Contact</h1>
    <p>
        Wij zijn bereikbaar via bellen of WhatsApp.<br />
        Telefonisch alleen bereikbaar tussen 18:00 en 22:00.
    </p>
    <p>Telefoonnummer: 06 12345678</p>
</div>

<div class="greybg container-fluid px-0">
    @*Hieronder staat alles over de div "over ons"*@
    <div class="row no-gutters">
        <div class="col-md-8 p-5">
            <h1 class="pb-3">Over ons</h1>
            <p class="text-white">
                Het bedrijf was vroeger een pluimvee bedrijf,
                dit bedrijf is ondertussen opgelegd en
                is nu een stalling geworden voor campers en caravans.
                Dit bedrijf is hiernaast ook overgenomen door
                de zoon van meneer van der Stal.
                Dit bedrijf is een nevenfunctie voor meneer van der Stal,
                daardoor zal je alleen ’s avonds contact opnemen.
            </p>
        </div>
        <div class="col-md-4 p-5">
            <img class="w-100" src="~/images/caravan.jpg" alt="Picture of a camper" />
        </div>
    </div>
</div>
<div class="container text-center py-5">

    <h1 class="pb-4">Beschikbare plekken</h1>
    <p>Momenteel zijn er 60 plekken in totaal verdeeld over 3 verschillende hallen.</p>
    <p>
        Er zijn 25 plekken beschikbaar op dit moment.<br />
        Neem contact op voor verdere informatie over andere data.</>
</div>