@{ ViewData["Title"] = "Home Page"; }
<html lang="nl">
<head>

<div class="home-grid-1 home-center">
    <h1 class="main-c">Contact</h1>
    <p>Wij zijn bereikbaar via bellen of whatsapp.<br />
    Telefonisch alleen bereikbaar tussen 18:00 en 22:00.<br /><br />
    Telefoonnummer: 06 12345678</p>
</div>

<div class="home-grid-2">
    <h1 class="main-c home-h1">over ons</h1>
    <div class="home-grid-img">
        <p class="h-grid-img-1">
            het bedrijf was vroeger een pluimvee bedrijf, dit bedrijf is ondertussen opgelegd en
            is nu een stalling geworden voor campers en caravans. dit bedrijf is hiernaast
            ook overgenomen door de zoon van meneer van der stal.
            Dit bedrijf is een nevenfunctie voor meneer van der stal,
            daardoor zal je alleen 's avonds contact opnemen.
        </p>
        <img id="camper-1" class="h-grid-img-2" src="~/images/camper-img-1.jpg" />
    </div>
</div>

<div class="home-grid-3 home-center">
    <h1 class="main-c">Beschikbare plekken</h1>
    <p>Momenteel zijn er 60 plekken in totaal verdeel over 3 verschillende hallen.<br /><br />
    Er zijn 25 plekken beschikbaar op dit moment.<br />
    Neem contact op voor verdere informatie</p>
</div>
