<div class="container text-center my-4">
    <h1 class="pb-4">
        Prijzen
    </h1>
    <p>
        Bij onze stalling betaal je momenteel €45,- voor een vierkante meter. <br />
        Prijs geld alleen voor vierkante meter, je betaalt op jaarlijkse basis
        <br /><br />
        In 2022 gaat de prijs omhoog naar €60,- per vierkante meter. <br />
        Deze prijs geld voor de campers en de caravans.
    </p>
</div>